{% extends 'users/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <h3>Lista de Proyectos Aprobados</h3>
    </div>
    <div class="row top-space">
        <div class="col-lg-10 offset-lg-1">
            <div class="table-responsive-md">
                <table id="project-list" class="table table-stripped table-hover">
                    <thead class="table-active">
                        <th>TÍTULO</td>
                        <th>RESPONSABLE</td>
                        <th>INSTITUCIÓN</td>
                        <th>E-MAIL</td>
                        <th>INICIO - FIN</td>
                        <th>ESTADO</td>
                        <th>DESCRIPCIÓN</td>
                    </thead>
                    <tbody>
                        {% for project in project_list %}
                        <tr>
                            <td>{{ project.title }}</td>
                            <td>{{ project.responsible }}</td>
                            <td>{{ project.institution }}</td>
                            <td>{{ project.responsible_email }}</td>
                            <td>{{ project.init_date|date:"d/m/Y" }} - {{ project.end_date|date:"d/m/Y" }}</td>
                            <td>{{ project.status }}</td>
                            <td>{{ project.description }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#project-list').DataTable();
    });
</script>
<!--<a href="{% url 'project_new' %}">New Project</a>-->

{% endblock %}